<template>
    <div class="mx-3">
        <a @click="refresh" class="btn btn-accent text-white">
          <font-awesome-icon icon="fa-solid fa-arrows-rotate" />
          <span class="text-white ml-3"> Refresh </span>
        </a>
    </div>
</template>

<script>
    export default {
        methods: {
            refresh() {
                this.$emit('refresh')
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>