<template>
    <div class="mx-3">
        <input v-model="search" 
            @keyup="setSearch"
            type="text" placeholder="Search by name" class="input input-bordered w-full max-w-xs" />
    </div>
</template>

<script>
    export default {
        data() {
            return {
                search: ''
            }
        },
        methods: {
            setSearch() {
                this.$emit('set-search',this.search)
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>