<template>
    <div class="flex items-center mx-3">
        <div>
            <p class="text-slate-400 mr-3"> Show </p>
        </div>
        <div>
            <select v-model="limit" @change="setLimit" 
                class="select select-bordered w-full max-w-xs">
                <option disabled selected> {{ limit }}</option>
                <option v-for="option in options">  {{ option }} </option>
            </select>
        </div>
            
    </div>
</template>

<script>
    export default {
        data() {
            return {
                options: [
                    10,
                    20,
                    50,
                    100
                ],
                limit: 20
            }
        },
        methods: {
            setLimit() {
                this.$emit('set-limit', this.limit)
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>