<template>
  <div>
    <input type="checkbox" id="user-info-modal" class="modal-toggle"
      v-model="isOpen" />
    <div class="modal">
      <div class="modal-box relative">
        <label @click="closeModal" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
        <h3 class="font-bold text-3xl"> {{ name }} </h3>
        
        <table class="table my-5">
          <tbody>
            <tr>
              <td> 
                <span class="text-gray-400">Date </span>
              </td>
              <td> {{ $moment(user.registered.date).format('DD MMM YYYY') }} </td>
            </tr>
            <tr>
              <td> 
                <span class="text-gray-400">Gender </span>
              </td>
              <td>
                <span class="capitalize">
                  {{ user.gender }}
                </span>
              </td>
            </tr>
            <tr>
              <td> 
                <span class="text-gray-400">Country </span>
              </td>
              <td>
                <span class="capitalize">
                  {{ user.location.country }}
                </span>
              </td>
            </tr>
            <tr>
              <td> 
                <span class="text-gray-400">Email </span>
              </td>
              <td>
                <span class="">
                  {{ user.email }}
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  
</template>

<script>
export default {
  props: {
    user: {
      type: Object,
      default () {
        return {}
      }
    },
    isOpen: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    name () {
      return this.user.name.title + ' ' + this.user.name.first + ' ' + this.user.name.last
    }
  },
  methods: {
    closeModal() {
      this.$emit('close-user-modal')
    }
  },
}
</script>

<style lang="scss" scoped>

</style>
