<template>
  <div>
    <div
      class="cursor-pointer flex my-4 py-6 px-12 items-middle shadow border border-slate-100 rounded
        hover:border-2 hover:border-accent hover:py-8 hover:text-lg"
      @click="openUserModal"
    >
      <div class="w-1/12">
        <span class="text-gray-400 text-sm">
          {{ $moment(user.registered.date).format('DD MMM YYYY') }}
        </span>
      </div>
      <div class="w-5/12">
        {{ name }}
      </div>

      <div class="w-1/12">
        <span class="capitalize">
          {{ user.gender }}
        </span>
      </div>

      <div class="w-2/12">
        <span class="capitalize">
          {{ user.location.country }}
        </span>
      </div>

      <div class="w-3/12 text-right">
        <span class="text-gray-400">
          {{ user.email }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    user: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  computed: {
    name () {
      return this.user.name.title + ' ' + this.user.name.first + ' ' + this.user.name.last
    }
  },
  methods: {
    openUserModal () {
      this.$emit('open-user-modal', this.user)
    }
  }
}
</script>

<style lang="scss" scoped>

</style>
