<template>
  <div>

    <!-- List title -->
    <div
      class="flex my-2 py-2 px-12 text-sm text-slate-400"
    >
      <div class="w-1/12">
        Date
      </div>
      <div class="w-5/12">
        Name
      </div>

      <div class="w-1/12">
        Gender
      </div>

      <div class="w-2/12">
        Country
      </div>

      <div class="w-3/12 text-right">
        E-Mail
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>

</style>
