<template>
  <div class="bg-accent h-48 w-full">
    <div class="container mx-auto">
      <div
        class="flex items-center"
      >
        <div
          id="avatar"
          class="my-16"
        >
          <img
            src="/images/avatar.png"
            class="h-40 w-40 mr-5"
          >
        </div>

        <div class="">
          <div>
            <h3 class="text-4xl font-bold text-white">
              John Doe
            </h3>
            <p class="text-white text-sm">
              Last online: 2 days ago
            </p>
          </div>
        </div>

        <div class="ml-5">
          <a href="#" class="p-4 bg-white text-accent rounded">
            <font-awesome-icon icon="fa-solid fa-paper-plane" />
            <span>Send Message</span>
          </a>
        </div>

        <div class="ml-2">
          <a href="#" class="p-4 bg-transparent text-white border border-white rounded">
            <font-awesome-icon icon="fa-solid fa-plus" />
            <span>Add Friend</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'UserProfileHeader'
}
</script>

<style lang="
        scss"
        scoped
      >
</style>
      </div>
    </div>
  </div>
</template>
