<template>
  <div class="border-b border-slate-200 ">
    <div class="container mx-auto">
      <div class="flex h-24 items-center justify-between py-2 px-8 mx-auto">
        <div>
          <img src="/images/kiratech-logo.png" class="h-14">
        </div>
        <div>
          <font-awesome-icon icon="fa-solid fa-bell" class="mx-2 text-lg text-gray-700" />
          <font-awesome-icon icon="fa-solid fa-gear" class="mx-2 text-lg text-gray-700" />
          <font-awesome-icon icon="fa-solid fa-arrow-right-from-bracket" class="mx-2 text-lg text-gray-700" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'AppHeader'
}
</script>

<style lang="scss" scoped></style>
