<template>
    <div class="mx-3">
        <div class="btn-group">
            <button class="btn"
                :class="{ 'btn-disabled': this.page == 1 }"
                @click="goPrevious">«</button>
            <button class="btn">Page {{ page }}</button>
            <button class="btn" @click="goNext">»</button>
        </div>
    </div>
</template>

<script>
    export default {
        props: {
            page: {
                type: Number,
                default: 1
            },
        },
        methods: {
            goPrevious() {
                if(this.page == 1) 
                    return;
                else 
                    this.$emit('set-page', this.page - 1)
            },
            goNext() {
                this.$emit('set-page', this.page + 1)
            }
        },
    }
</script>

<style lang="scss" scoped>

</style>