<template>
  <div class="flex flex-col h-screen w-screen justify-center items-center">
    <div class="hero min-h-screen bg-base-200">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <img src="/images/kiratech-logo.png" class="h-10 mx-auto" />
          <h1 class="text-5xl font-bold">KiraTech Frontend Assignment</h1>
          <h5 class="my-4 text-2xl"> by Nizam </h5>
          <p class="py-6">
            <strong> Quick Introduction </strong> ::: This web is built using NuxtJS Framework, a framework
             based on VueJS. I used TailwindCSS + DaisyUI plugin for the UI (Tailwind is just so awesome!!)
          </p>
          <nuxt-link to="/users"
            class="my-4 btn btn-primary"> 
            View My Assignment 
          </nuxt-link>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'IndexPage'
}
</script>
