<template>
  <div>
    <AppHeader />
    <div>
      <!-- <div class="position-absolute bg-teal-600 h-20" /> -->
      <UserProfileHeader />

      <div class="container mx-auto my-10">

        <!-- List action -->
        <div class="flex items-center justify-end">
          <div class="flex w-1/2">
            <ActionRefresh @refresh="refresh" />
          </div>
          <div class="flex w-1/2 justify-end">
            <ActionSetLimit @set-limit="setLimit" />
            <ActionSearch @set-search="setSearch" />
          </div>

          

        </div>

        <UserListHeader />
        <UserList
          v-for="(user,index) in filteredUsers"
          :key="index"
          :user="user"
          @open-user-modal="openUserModal"
        />

        <UserInfoModal
          v-if="isOpenModal"
          :user="activeUser"
          :isOpen="isOpenModal" 
          @close-user-modal="closeModal"/>

        <AppPagination :page="page" 
          @set-page="setPage" />

        <!-- <ActionRefresh @refresh="refresh" /> -->
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'PageUser',
  data () {
    return {
      users: {},
      activeUser: {},
      isOpenModal: false,
      page: 1,
      limit: 20,
      searchVal: ''
    }
  },
  computed: {
    filteredUsers() {
      let tempUsers = this.users
      if(this.searchVal != '' && this.searchVal ) {
        tempUsers = tempUsers.filter( (user) => {
          return user.name.first
                  .toLowerCase()
                  .includes(this.searchVal.toLowerCase()) 
                  || 
                  user.name.last
                  .toLowerCase()
                  .includes(this.searchVal.toLowerCase()) 
        })
      }

      return tempUsers;
    }
  },
  created () {
    this.getUser()
  },

  methods: {
    getUser () {
      this.$axios.$get('https://randomuser.me/api/', {
        params: {
          page: this.page,
          results: this.limit
        }
      })
        .then((res) => {
          // console.log(res)
          this.users = res.results
        })
    },
    refresh () {
      console.log('refresh')
      this.getUser()
    },
    openUserModal(user) {
      console.log('open user modal')
      this.activeUser = user
      this.isOpenModal = true
    },
    closeModal() {
      this.isOpenModal = false
    },
    setPage(page) {
      this.page = page
      this.getUser()
    },
    setLimit(limit) {
      this.limit = limit
      this.getUser()
    },
    setSearch(search) {
      this.searchVal = search
    }
  }
}
</script>
